* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: blue;
    text-decoration: underline;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: grey;
}

footer {
  height: 80px;
  background-color: grey;
  display: flex;

  & > * {
    margin: auto;
  }
}

main {
  width: 100%;
  min-height: calc(100vh - 160px);
  padding: 20px;
  display: flex;
  flex-direction: column;

  .index {
    height: 100%;

    h1 {
      margin-bottom: 20px;
    }

    .omino {
      height: 1.5rem;
    }

    .new-omino {
      display: flex;
      justify-content: center;

      a {
        color: blue;
      }
    }
  }

  .show-omino {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .details {
      display: flex;
      margin: 20px 0;

      .labels {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-right: 10px;
      }

      .values {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10px;
      }

    }

    .options {
      text-align: center;

      h4 {
        margin: 10px;
      }
    }
  }

  form {
    .form {
      display: flex;
      justify-content: center;

      .labels {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-right: 10px;
      }
    }

    .button {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }

  .error {
    margin: 20px auto;
    color: red;
    text-align: center;
  }

  .success {
    margin: 20px auto;
    color: green;
    text-align: center;
  }
}
